<footer style="height: 20vh; background-color: #111A23;">
    <div class="footer-container">
            <a class="footer-links" href="">Impressum</a>
            <div class="footer-middle">|</div>
            <a class="footer-links" href="">Contact</a>
    </div>
 </footer>