<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head'); %>

</head>
<body>
    <div class="loading">
        <h1 class="load-text">Welcome | <script src="js/date.js"></script></h1>
    </div>
      
    <%- include('../partials/nav'); %> 

    <section id="start">
        <!-- <svg class=".blob1" width="1900" height="1000">
            <path id="patho" d="M140.5,145.5c101.61-194.48,687-147.42,733,7,27.67,92.87-134.79,241.18-295,288-130.91,38.25-336.74,31.07-418-100C130.45,292,107,209.72,140.5,145.5Z"></path>
        </svg>
        <div class="shape"></div> -->
        <%- include('../partials/burger'); %>
       
        <div class="title-container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div style="z-index: 100;">
                <h1 class="main-title">Yannic Haas</h1>
            </div>
        </div>
    </section>
    <section id="about">
        <article class="about">
            <div class="about-container">
                <div>
                    <div class="blog-line"></div>
                    <h1 class="about-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="300">Who am I?</h1>
                    <div class="about-text" data-aos="zoom-out-up" data-aos-offset="200">
                        <p>Cat ipsum dolor sit amet, fall asleep on the washing machine haha you hold me hooman i scratch or ignore the human until she needs to get up, then climb on her lap and sprawl but lie in the sink all day. I love cats i am one wake up scratch humans leg for food then purr then i have a and relax car rides are evil hiding behind the couch until lured out by a feathery toy and hiss at vacuum cleaner and jump five feet high and sideways when a shadow moves or stare out cat door then go back inside and morning beauty routine of licking self.</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="purpose">
            <div class="about-container">
                <div>
                    <div class="blog-line"></div>
                    <h1 class="about-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="200">What's the purpose?</h1>
                    <div class="about-text" data-aos="zoom-out-up" data-aos-offset="200">
                        <p>Cat ipsum dolor sit amet, fall asleep on the washing machine haha you hold me hooman i scratch or ignore the human until she needs to get up, then climb on her lap and sprawl but lie in the sink all day. I love cats i am one wake up scratch humans leg for food then purr then i have a and relax car rides are evil hiding behind the couch until lured out by a feathery toy and hiss at vacuum cleaner and jump five feet high and sideways when a shadow moves or stare out cat door then go back inside and morning beauty routine of licking self.</p>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <%- include('../partials/footer'); %> 
    <script>
        AOS.init();
      </script>
          <button onclick="topFunction()" class="topBtn" title="UP">&#8679;</button>
</body>
<script src="js/anime.min.js"></script>
<script src="js/ani.js"></script>
<script src="js/main.js"></script>
</html>