<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head'); %>

</head>
<body>
    <div class="loading">
        <h1 class="load-text">Welcome | <script src="js/date.js"></script></h1>
    </div>
      
    <button onclick="topFunction()" class="topBtn" title="UP">TOP</button>

    <%- include('../partials/nav'); %> 

    <section id="start">
        <!-- <svg viewBox="0 0 100 100">
            <path class="st0 morph-path1" d="M157.43 166.41L452.87 166.41L452.87 462.64L157.43 462.64L157.43 166.41Z"/>
        </svg> -->
        <%- include('../partials/burger'); %>
       
        <div class="title-container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div style="z-index: 100;">
                <h1 class="main-title">Yannic Haas</h1>
            </div>
        </div>
    </section>
    <section id="about">
        <article class="about">
            <div class="about-container">
                <div>
                    <div class="blog-line"></div>
                    <h1 class="about-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="500">Who am I?</h1>
                    <div class="about-text" data-aos="zoom-out-up" data-aos-offset="500">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus suscipit ipsum alias molestias soluta distinctio a excepturi, deleniti voluptate eligendi facere officiis quibusdam praesentium numquam at quidem illo voluptatum blanditiis!</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="purpose">
            <div class="about-container">
                <div>
                    <div class="blog-line"></div>
                    <h1 class="about-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="500">What's the purpose?</h1>
                    <div class="about-text" data-aos="zoom-out-up" data-aos-offset="400">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus suscipit ipsum alias molestias soluta distinctio a excepturi, deleniti voluptate eligendi facere officiis quibusdam praesentium numquam at quidem illo voluptatum blanditiis!</p>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <%- include('../partials/footer'); %> 
    <script>
        AOS.init();
      </script>
</body>
<script src="js/anime.min.js"></script>
<script src="js/ani.js"></script>
<script src="js/main.js"></script>
</html>