<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head'); %>

</head>
<body>

    <button onclick="topFunction()" class="topBtn" title="UP">TOP</button>

    <%- include('../partials/nav'); %> 

    <section id="start">

        <%- include('../partials/burger'); %>

        <div class="title-container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div style="z-index: 100;">
                <h1 class="main-title">Welcome</h1>
            </div>
        </div>
    </section>
    <section id="about">
        <article class="about">
            <div class="about-container">
                <div style="float: left; width: 50%;">
                    <div class="blog-line"></div>
                    <h1 class="about-title">Yannic Haas</h1>
                    <div class="about-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus suscipit ipsum alias molestias soluta distinctio a excepturi, deleniti voluptate eligendi facere officiis quibusdam praesentium numquam at quidem illo voluptatum blanditiis!</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="img">
            <div>
            </div>
        </article>
    </section>
    <%- include('../partials/footer'); %> 
    <script>
        AOS.init();
      </script>
</body>
<script src="js/main.js"></script>
</html>